<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Search</key>
	<dict>
		<key>Search by term</key>
		<dict>
			<key>function</key>
			<string>searchTerm</string>
			<key>params</key>
			<dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>term</key>
				<dict>
					<key>name</key>
					<string>Search term</string>
					<key>placeholder</key>
					<string>James Brown...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
				<key>limit</key>
				<dict>
					<key>name</key>
					<string>Limit</string>
					<key>placeholder</key>
					<string>2...</string>
					<key>optional</key>
					<true/>
				</dict>
				<key>offset</key>
				<dict>
					<key>name</key>
					<string>Offset</string>
					<key>placeholder</key>
					<string>2...</string>
					<key>optional</key>
					<true/>
				</dict>
				<key>types</key>
				<dict>
					<key>name</key>
					<string>Types</string>
					<key>placeholder</key>
					<string>albums,songs...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>Search hints</key>
		<dict>
			<key>function</key>
			<string>getSearchHints</string>
			<key>params</key>
			<dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>term</key>
				<dict>
					<key>name</key>
					<string>Search term</string>
					<key>placeholder</key>
					<string>James Brown...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
				<key>limit</key>
				<dict>
					<key>name</key>
					<string>Limit</string>
					<key>placeholder</key>
					<string>2...</string>
					<key>optional</key>
					<true/>
				</dict>
				<key>types</key>
				<dict>
					<key>name</key>
					<string>Types</string>
					<key>placeholder</key>
					<string>albums,songs...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Storefronts</key>
	<dict>
		<key>User Storefront</key>
		<dict>
			<key>function</key>
			<string>getUserStorefront</string>
			<key>params</key>
			<dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>Storefront by ID</key>
		<dict>
			<key>function</key>
			<string>getStorefront</string>
			<key>params</key>
			<dict>
				<key>id</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>Multiple Storefronts</key>
		<dict>
			<key>function</key>
			<string>getMultipleStorefronts</string>
			<key>params</key>
			<dict>
				<key>ids</key>
				<dict>
					<key>name</key>
					<string>Storefront IDs</string>
					<key>placeholder</key>
					<string>us,es,jp...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>All Storefronts</key>
		<dict>
			<key>function</key>
			<string>getAllStorefronts</string>
			<key>params</key>
			<dict>
				<key>offset</key>
				<dict>
					<key>name</key>
					<string>Offset</string>
					<key>placeholder</key>
					<string>2...</string>
					<key>optional</key>
					<true/>
				</dict>
				<key>limit</key>
				<dict>
					<key>name</key>
					<string>Limit</string>
					<key>placeholder</key>
					<string>2...</string>
					<key>optional</key>
					<true/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Albums</key>
	<dict>
		<key>Multiple Albums</key>
		<dict>
			<key>function</key>
			<string>getMultipleAlbums</string>
			<key>params</key>
			<dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>ids</key>
				<dict>
					<key>name</key>
					<string>Album IDs</string>
					<key>placeholder</key>
					<string>299738314,190758912...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>Album by ID</key>
		<dict>
			<key>function</key>
			<string>getAlbum</string>
			<key>params</key>
			<dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>id</key>
				<dict>
					<key>name</key>
					<string>Album ID</string>
					<key>placeholder</key>
					<string>299738314...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Music Videos</key>
	<dict>
		<key>Multiple Music Videos</key>
		<dict>
			<key>function</key>
			<string>getMultipleMusicVideos</string>
			<key>params</key>
			<dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>ids</key>
				<dict>
					<key>name</key>
					<string>Music Video IDs</string>
					<key>placeholder</key>
					<string>299738314,939748305 ...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>Music Video by ID</key>
		<dict>
			<key>function</key>
			<string>getMusicVideo</string>
			<key>params</key>
			<dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>id</key>
				<dict>
					<key>name</key>
					<string>Music Video ID</string>
					<key>placeholder</key>
					<string>299738314...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Playlists</key>
	<dict>
		<key>Multiple Playlists</key>
		<dict>
			<key>function</key>
			<string>getMultiplePlaylists</string>
			<key>params</key>
			<dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>ids</key>
				<dict>
					<key>name</key>
					<string>Playlist IDs</string>
					<key>placeholder</key>
					<string>pl.acc464c740b94302b8805e5fcbe67e17,pl.97c6f95b0b774bedbcce227f9ea5d32b</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>Playlist by ID</key>
		<dict>
			<key>function</key>
			<string>getPlaylist</string>
			<key>params</key>
			<dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>id</key>
				<dict>
					<key>name</key>
					<string>Playlist ID</string>
					<key>placeholder</key>
					<string>pl.acc464d753b94302b8806e6fcde56e17...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Songs</key>
	<dict>
		<key>Multiple Songs</key>
		<dict>
			<key>function</key>
			<string>getMultipleSongs</string>
			<key>params</key>
			<dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>ids</key>
				<dict>
					<key>name</key>
					<string>Song IDs</string>
					<key>placeholder</key>
					<string>204719240,203251597...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>Song by ID</key>
		<dict>
			<key>function</key>
			<string>getSong</string>
			<key>params</key>
			<dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>id</key>
				<dict>
					<key>name</key>
					<string>Song ID</string>
					<key>placeholder</key>
					<string>900032321...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Stations</key>
	<dict>
		<key>Multiple Stations</key>
		<dict>
			<key>function</key>
			<string>getMultipleStations</string>
			<key>params</key>
			<dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>ids</key>
				<dict>
					<key>name</key>
					<string>Album ID</string>
					<key>placeholder</key>
					<string>299738314...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>Station by ID</key>
		<dict>
			<key>function</key>
			<string>getStation</string>
			<key>params</key>
			<dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>id</key>
				<dict>
					<key>name</key>
					<string>Album ID</string>
					<key>placeholder</key>
					<string>299738314...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Artists</key>
	<dict>
		<key>Multiple Artists</key>
		<dict>
			<key>function</key>
			<string>getMultipleArtists</string>
			<key>params</key>
			<dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>ids</key>
				<dict>
					<key>name</key>
					<string>Artist IDs</string>
					<key>placeholder</key>
					<string>179934,463106...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>Artist by ID</key>
		<dict>
			<key>function</key>
			<string>getArtist</string>
			<key>params</key>
			<dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>id</key>
				<dict>
					<key>name</key>
					<string>Artist ID</string>
					<key>placeholder</key>
					<string>179934...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Curators</key>
	<dict>
		<key>Multiple Curators</key>
		<dict>
			<key>function</key>
			<string>getMultipleCurators</string>
			<key>params</key>
			<dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>ids</key>
				<dict>
					<key>name</key>
					<string>Curator IDs</string>
					<key>placeholder</key>
					<string>974459448,1142683517...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>Curator by ID</key>
		<dict>
			<key>function</key>
			<string>getCurator</string>
			<key>params</key>
			<dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>id</key>
				<dict>
					<key>name</key>
					<string>Curator ID</string>
					<key>placeholder</key>
					<string>1217688517...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Activities</key>
	<dict>
		<key>Multiple Activities</key>
		<dict>
			<key>function</key>
			<string>getMultipleActivities</string>
			<key>params</key>
			<dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>ids</key>
				<dict>
					<key>name</key>
					<string>Activity IDs</string>
					<key>placeholder</key>
					<string>956449513,936419203...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>Activity by ID</key>
		<dict>
			<key>function</key>
			<string>getActivity</string>
			<key>params</key>
			<dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>id</key>
				<dict>
					<key>name</key>
					<string>Activity ID</string>
					<key>placeholder</key>
					<string>926339514...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Apple Curators</key>
	<dict>
		<key>Multiple Apple Curators</key>
		<dict>
			<key>function</key>
			<string>getMultipleAppleCurators</string>
			<key>params</key>
			<dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>ids</key>
				<dict>
					<key>name</key>
					<string>Apple Curator IDs</string>
					<key>placeholder</key>
					<string>974459448,1142683517...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>Apple Curator by ID</key>
		<dict>
			<key>function</key>
			<string>getAppleCurator</string>
			<key>params</key>
			<dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>id</key>
				<dict>
					<key>name</key>
					<string>Apple Curator ID</string>
					<key>placeholder</key>
					<string>926449586...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Charts</key>
	<dict>
		<key>Get Charts by type</key>
		<dict>
			<key>function</key>
			<string>getCharts</string>
			<key>params</key>
			<dict>
				<key>types</key>
				<dict>
					<key>name</key>
					<string>Types</string>
					<key>placeholder</key>
					<string>albums,songs...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
				<key>chart</key>
				<dict>
					<key>name</key>
					<string>Chart</string>
					<key>placeholder</key>
					<string>most-played...</string>
					<key>optional</key>
					<true/>
				</dict>
				<key>genre</key>
				<dict>
					<key>name</key>
					<string>Genre</string>
					<key>placeholder</key>
					<string>14...</string>
					<key>optional</key>
					<true/>
				</dict>
				<key>limit</key>
				<dict>
					<key>name</key>
					<string>Limit</string>
					<key>placeholder</key>
					<string>2...</string>
					<key>optional</key>
					<true/>
				</dict>
				<key>offset</key>
				<dict>
					<key>name</key>
					<string>Offset</string>
					<key>placeholder</key>
					<string>2...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Genres</key>
	<dict>
		<key>Multiple Genres</key>
		<dict>
			<key>function</key>
			<string>getMultipleGenres</string>
			<key>params</key>
			<dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>ids</key>
				<dict>
					<key>name</key>
					<string>Genre IDs</string>
					<key>placeholder</key>
					<string>14,20...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>Genre by ID</key>
		<dict>
			<key>function</key>
			<string>getGenre</string>
			<key>params</key>
			<dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>id</key>
				<dict>
					<key>name</key>
					<string>Genre ID</string>
					<key>placeholder</key>
					<string>14...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>Top Charts Genres</key>
		<dict>
			<key>function</key>
			<string>getTopGenres</string>
			<key>params</key>
			<dict>
				<key>storeID</key>
				<dict>
					<key>name</key>
					<string>Storefront ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>offset</key>
				<dict>
					<key>name</key>
					<string>Offset</string>
					<key>placeholder</key>
					<string>2...</string>
					<key>optional</key>
					<true/>
				</dict>
				<key>limit</key>
				<dict>
					<key>name</key>
					<string>Limit</string>
					<key>placeholder</key>
					<string>2...</string>
					<key>optional</key>
					<true/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Recents</key>
	<dict/>
	<key>Recommendations</key>
	<dict/>
</dict>
</plist>
