<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Search</key>
	<dict/>
	<key>Storefronts</key>
	<dict>
		<key>User Storefront</key>
		<dict>
			<key>function</key>
			<string>getStorefront</string>
			<key>params</key>
			<dict>
				<key>id</key>
				<dict>
					<key>name</key>
					<string>ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>Storefront by ID</key>
		<dict>
			<key>function</key>
			<string>getStorefront</string>
			<key>params</key>
			<dict>
				<key>id</key>
				<dict>
					<key>name</key>
					<string>ID</string>
					<key>placeholder</key>
					<string>us...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>Multiple Storefronts</key>
		<dict>
			<key>function</key>
			<string>getMultipleStorefronts</string>
			<key>params</key>
			<dict>
				<key>ids</key>
				<dict>
					<key>name</key>
					<string>IDs</string>
					<key>placeholder</key>
					<string>us,es,jp...</string>
					<key>optional</key>
					<false/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>All Storefronts</key>
		<dict>
			<key>function</key>
			<string>getAllStorefronts</string>
			<key>params</key>
			<dict>
				<key>offset</key>
				<dict>
					<key>name</key>
					<string>Offset</string>
					<key>placeholder</key>
					<string>2...</string>
					<key>optional</key>
					<true/>
				</dict>
				<key>limit</key>
				<dict>
					<key>name</key>
					<string>Limit</string>
					<key>placeholder</key>
					<string>2...</string>
					<key>optional</key>
					<true/>
				</dict>
				<key>l</key>
				<dict>
					<key>name</key>
					<string>Language</string>
					<key>placeholder</key>
					<string>en-US...</string>
					<key>optional</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Albums</key>
	<dict/>
	<key>Music Videos</key>
	<dict/>
	<key>Playlists</key>
	<dict/>
	<key>Songs</key>
	<dict/>
	<key>Stations</key>
	<dict/>
	<key>Artists</key>
	<dict/>
	<key>Curators</key>
	<dict/>
	<key>Activities</key>
	<dict/>
	<key>Apple Curators</key>
	<dict/>
	<key>Charts</key>
	<dict/>
	<key>Genres</key>
	<dict/>
	<key>Recents</key>
	<dict/>
	<key>Recommendations</key>
	<dict/>
</dict>
</plist>
